<div class="bg-cover w-full h-80 bg-no-repeat bg-cover bg-center" style="background-image: url('https://hips.hearstapps.com/hmg-prod/images/2020-porsche-taycan-4s-111-1576001340.jpg')">
  <div class="flex justify-center items-center h-full">
    <h1 class="text-5xl text-white font-serif font-semibold">Rent a Ferrari</h1>
  </div>
</div>

<div class="flex flex-wrap justify-center">

  <% @cars.each do |car| %>
    <div class="max-w-sm rounded shadow-lg mt-6 shadow-xl bg-white w-80 mr-4 ml-4">
      <img class="w-full h-40"  alt="car picture" src="<%= car.image_url %>">
      <div class="flex px-3	py-4 justify-between">
        <div class="font-semibold text-lg w-3/4 font-serif"><%= car.model %></div>
          <div class="flex items-center">
              <p class="ml-2 text-sm font-bold text-gray-900 dark:text-white">⭐️ <%= car.rating %></p>
          </div>
      </div>

      <div class="flex justify-center">
        <span class="inline-block bg-blue-200 rounded-none px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 font-serif">$<%= car.price %>/day</span>
        <span class="inline-block bg-blue-200 rounded-none px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 font-serif"><%= car.location %></span>
      </div>
    </div>
  <% end %>

</div>
