<div class="bg-cover w-full h-80 bg-no-repeat bg-cover bg-center" style="background-image: url('https://hips.hearstapps.com/hmg-prod/images/2020-porsche-taycan-4s-111-1576001340.jpg')">
  <div class="flex justify-center items-center h-full">
    <h1 class="text-5xl text-white font-serif font-semibold" style="text-shadow: 7px 11px 5px rgba(0,0,0,0.2)">Rent a Super Car</h1>
  </div>
</div>

<%# Search results bar %>
<div class="w-full bg-blue-200 h-40 px-14 py-6 flex items-center justify-center">
  <form action="cars" method="get" class="grid grid-cols-3 grid-flow-row gap-6">
    <div>
      <label for="model" class="font-serif">Keyword:</label>
      <input type="text" name="model" id="model" class="rounded">
    </div>
    <div>
      <label for="location" class="font-serif">Location:</label>
      <select name="location" id="location" class="rounded font-serif">
        <option value="" selected disabled hidden>Select Location</option>
        <option value="Honolulu">Honolulu</option>
        <option value="London">London</option>
        <option value="Los Angeles">Los Angeles</option>
        <option value="Miami">Miami</option>
        <option value="Shanghai">Shanghai</option>
        <option value="Sydney">Sydney</option>
      </select>
    </div>
    <input type="submit" value="Search" class="text-base px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">
    <div>
      <label for="start_date" class="font-serif">Pick-up Date:</label>
      <input type="date" name="start_date" id="start_date" class="rounded font-serif">
    </div>
    <div>
      <label for="end_date" class="font-serif">Drop-off Date:</label>
      <input type="date" name="end_date" id="end_date" class="rounded font-serif">
    </div>
  </form>
</div>




  <% if @cars.length == 0 %>
    <h1 class="text-3xl text-center p-6">No Results Match Your Query</h1>
  <% else %>
    <div class="grid grid-cols-3 grid-flow-row gap-4">
      <% @cars.each do |car| %>
        <%= link_to car_path(car) do %>
          <div class="max-w-sm rounded shadow-lg mt-6 shadow-xl bg-white w-80 mr-4 ml-4">

            <% if car.photos.count > 0%>
              <img class="w-full h-40 rounded-t"  alt="car picture" src="<%= cl_image_path car.photos[0].key, height: 300, width: 400, crop: :fill %>">
            <% else %>
              <img class="w-full h-40 rounded-t"  alt="car picture" src="./lamborghini.jpeg">
            <% end %>

            <div class="flex px-3	py-4 justify-between">
              <div class="font-semibold text-lg w-3/4 font-serif"><%= car.model %></div>
                <div class="flex items-center">
                    <p class="ml-2 text-sm font-bold text-gray-900">⭐️ <%= car.rating %></p>
                </div>
            </div>

            <div class="flex justify-between">
              <span class="inline-block bg-blue-200 rounded-none px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 font-serif ml-2">$<%= car.price %>/day</span>
              <span class="inline-block bg-blue-200 rounded-none px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 font-serif"><%= car.location %></span>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
