<main class="w-full h-full bg-gradient-to-b from-indigo-100 to-green-100">
<div class="w-full h-96 bg-cover bg-no-repeat bg-center bg-[url('./tree.jpg')]"></div>
  <div class="flex justify-center">
    <div>
      <p class="pl-24 font-serif text-6xl mt-16 mb-4 font-bold">
      Drive Better
      </p>
      <p class="font-serif text-2xl">
      Luxury car rates so low, you won’t even think twice
      </p>
    </div>
  </div>
  <div class="mt-16 ml-40 font-serif font-bold text-1xl">
    View By Models
  </div>

  <%# Models Cards %>
  <div class="flex flex-wrap ml-24 mr-24 mt-4 justify-center">
    <%# Individual button card %>
    <%= link_to cars_path(model: "Tesla") do%>
      <button class="w-48 h-60 bg-blue-600 m-4 relative drop-shadow-lg">
        <div class="w-48 h-52 absolute top-0 left-0 bg-cover bg-no-repeat bg-center bg-[url('./tokyo.jpg')]">
        </div>
        <div class ="w-48 h-12 absolute bottom-0 left-0 bg-blue-200 flex justify-center items-center" >
          <p class="text-sm font-semibold text-neutral-700">Tesla</p>
        </div>
      </button>
    <% end %>

    <%# Individual button card %>
    <%= link_to cars_path(model: "Porsche") do%>
      <button class="w-48 h-60 bg-blue-600 m-4 relative drop-shadow-lg">
        <div class="w-48 h-52 absolute top-0 left-0 bg-cover bg-no-repeat bg-center bg-[url('./tokyo.jpg')]">
        </div>
        <div class ="w-48 h-12 absolute bottom-0 left-0 bg-blue-200 flex justify-center items-center" >
          <p class="text-sm font-semibold text-neutral-700">Porsche</p>
        </div>
      </button>
    <% end %>

    <%# Individual button card %>
    <%= link_to cars_path(model: "Lamborghini") do%>
      <button class="w-48 h-60 bg-blue-600 m-4 relative drop-shadow-lg">
        <div class="w-48 h-52 absolute top-0 left-0 bg-cover bg-no-repeat bg-center bg-[url('./tokyo.jpg')]">
        </div>
        <div class ="w-48 h-12 absolute bottom-0 left-0 bg-blue-200 flex justify-center items-center" >
          <p class="text-sm font-semibold text-neutral-700">Lamborghini</p>
        </div>
      </button>
    <% end %>

    <%# Individual button card %>
    <%= link_to cars_path(model: "Ferrari") do%>
      <button class="w-48 h-60 bg-blue-600 m-4 relative drop-shadow-lg">
        <div class="w-48 h-52 absolute top-0 left-0 bg-cover bg-no-repeat bg-center bg-[url('./tokyo.jpg')]">
        </div>
        <div class ="w-48 h-12 absolute bottom-0 left-0 bg-blue-200 flex justify-center items-center" >
          <p class="text-sm font-semibold text-neutral-700">Ferrari</p>
        </div>
      </button>
    <% end %>

    <%# Individual button card %>
    <%= link_to cars_path(model: "Mercedes") do%>
      <button class="w-48 h-60 bg-blue-600 m-4 relative drop-shadow-lg">
        <div class="w-48 h-52 absolute top-0 left-0 bg-cover bg-no-repeat bg-center bg-[url('./tokyo.jpg')]">
        </div>
        <div class ="w-48 h-12 absolute bottom-0 left-0 bg-blue-200 flex justify-center items-center" >
          <p class="text-sm font-semibold text-neutral-700">Mercedes-Benz</p>
        </div>
      </button>
    <% end %>

    <%# Individual button card %>
    <%= link_to cars_path(model: "BMW") do%>
      <button class="w-48 h-60 bg-blue-600 m-4 relative drop-shadow-lg">
        <div class="w-48 h-52 absolute top-0 left-0 bg-cover bg-no-repeat bg-center bg-[url('./tokyo.jpg')]">
        </div>
        <div class ="w-48 h-12 absolute bottom-0 left-0 bg-blue-200 flex justify-center items-center" >
          <p class="text-sm font-semibold text-neutral-700">BMW</p>
        </div>
      </button>
    <% end %>
  </div>
  <div class="flex justify-items-start w-152 mt-24 ml-40 pl-2 ">
    <div class="w-80">
      <div class="font-serif font-bold text-3xl">
        Find the perfect car to conquer the great outdoors
      </div>
      <div class="mt-8 font-serif font-thin text-2xl">
        Go prepared in a rugged 4x4 to take on winter roads with ease, or a camper van to take you to the trees
      </div>
      <div class="mt-16">
        <button class="inline-block bg-indigo-300 rounded-full px-10 py-3 text-sm font-semibold text-black mr-2 mb-2">Browse Cars</button>
      </div>
    </div>
    <div class="ml-36 w-2/4 h-96 bg-cover bg-no-repeat bg-center bg-[url('./lamborghini.jpeg')]"></div>
  </div>
  <div class="mt-40 ml-40 font-serif font-bold text-1xl">
    Browse By Destinations
  </div>
  <div class="flex flex-wrap ml-24 mr-24 mt-4 justify-center">
    <div class="w-48 h-60 bg-blue-600 m-4 relative drop-shadow-lg">
      <div class="w-48 h-52 bg-cover bg-no-repeat bg-center bg-[url('./tokyo.jpg')]"></div>
      <div class ="w-48 h-12 absolute bottom-0 left-0 bg-blue-200 flex justify-center" >
        <button class="text-sm font-semibold text-neutral-700">Los Angeles</button>
      </div>
    </div>

    <div class="w-48 h-60 bg-blue-600 m-4 relative drop-shadow-lg">
      <div class="w-48 h-52 bg-cover bg-no-repeat bg-center bg-[url('./london.jpg')]"></div>
      <div class ="w-48 h-12 absolute bottom-0 left-0 bg-blue-200 flex justify-center" >
        <button class="text-sm font-semibold text-neutral-700">London</button>
      </div>
    </div>

    <div class="w-48 h-60 bg-blue-600 m-4 relative drop-shadow-lg">
      <div class="w-48 h-52 bg-cover bg-no-repeat bg-center bg-[url('./shanghai.jpg')]"></div>
        <div class ="w-48 h-12 absolute bottom-0 left-0 bg-blue-200 flex justify-center" >
        <button class="text-sm font-semibold text-neutral-700">Shanghai</button>
        </div>
    </div>
    <div class="w-48 h-60 bg-blue-600 m-4 relative drop-shadow-lg">
      <div class="w-48 h-52 bg-cover bg-no-repeat bg-center bg-[url('./seoul.jpg')]"></div>
        <div class ="w-48 h-12 absolute bottom-0 left-0 bg-blue-200 flex justify-center" >
        <button class="text-sm font-semibold text-neutral-700">Sydney</button>
        </div>
    </div>
    <div class="w-48 h-60 bg-blue-600 m-4 relative drop-shadow-lg">
      <div class="w-48 h-52 bg-cover bg-no-repeat bg-center bg-[url('./chicago.jpg')]"></div>
        <div class ="w-48 h-12 absolute bottom-0 left-0 bg-blue-200 flex justify-center" >
        <button class="text-sm font-semibold text-neutral-700">Honolulu</button>
        </div>
    </div>
  </div>
  <div class="flex justify-items-start w-152 mt-24 ml-40 pl-2 ">
    <div class="mr-36 w-2/4 h-96 bg-cover bg-no-repeat bg-center bg-[url('./ferrari.jpg')]"></div>
      <div class="w-80">
        <div class="font-serif font-bold text-3xl">
          Find the perfect car to conquer the great outdoors
        </div>
        <div class="mt-8 font-serif font-thin text-2xl">
          Go prepared in a rugged 4x4 to take on winter roads with ease, or a camper van to take you to the trees
        </div>
        <div class="mt-16">
          <button class="inline-block bg-indigo-300 rounded-full px-10 py-3 text-sm font-semibold text-black mr-2 mb-2">Create an account!</button>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-center">
    <div>
      <p class="pl-24 font-serif text-6xl mt-16 mb-4 font-bold">
        Find Us
      </p>
      <p class="font-serif text-2xl">
        Where our current exotic cars are listed
      </p>
    </div>
  </div>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<p class="pl-8 pb-4 font-serif text-cyan-950">2023 @le wagon #1226</p>


<%= button_to "Sign Out", destroy_user_session_path, method: :delete %>


</main>
