<main class="w-full bg-gradient-to-b from-indigo-100 to-green-100">
<div class="w-full h-screen">
  <% if @car.photos.count > 0 %>
    <div class="w-full h-5/6 bg-cover bg-no-repeat bg-bottom" style="background-image: url('<%= cl_image_path @car.photos[0].key, height: 300, width: 400, crop: :fill %>')"></div>
  <% else %>
    <div class="w-full h-5/6 bg-cover bg-no-repeat bg-bottom" style="background-image: url('<%= @car.image_url %>')"></div>
  <% end %>
</div>
<div class="w-full h-80 ml-40">
  <div class="flex">
    <div>
      <p class="font-serif font-bold text-4xl"><%= @car.model %></p>
      <p class="font-serif font-bold text-1xl mt-4">Location: <%= @car.location %></p>
      <p class="font-serif font-bold text-2xl mt-8">Rating: <%= @average_rating %> / 5</p>
      <% (1..5).each do |i| %>
        <% if (i) <= @average_rating %>
          <i class="fas fa-star" style="color: #ffdd00;"></i>
        <% else %>
          <i class="fas fa-star" style="color: #001c40;"></i>
        <% end %>
      <% end %>
      <div class="flex mt-16">
        <div>
          <p>Electric/Fuel</p>
          <p>Number of Seats</p>
        </div>
        <div class="ml-36">
          <p>Number of Doors</p>
          <p>Age</p>
        </div>
      </div>
    </div>
    <div class="ml-96 mt-2 flex items-baseline">
    <p class="font-serif font-bold text-3xl">Price</p>
    <p class="font-serif font text-2xl ml-8">$<%= @car.price %>/day</p>
    </div>
  </div>
</div>
<div class="w-full">
  <div class="ml-40 w-2/5">
    <p class="font-serif">
      Description: <%= @car.description %>
    </p>
  </div>
</div>
<%# host info box%>
<div class="flex ml-40 mt-24 items-top relative">
  <div>
    <%# host avatar%>
    <div class="w-36 h-36 rounded-full bg-cover bg-no-repeat bg-bottom bg-[url('./tokyo.jpg')]"></div>
    <p class="ml-10 mt-6 text-1xl font-serif font-bold">Host By</p>
  </div>
  <div class="ml-24 mt-1">
    <p class="mr-4 font-serif text-lg font-bold">Rating

      <% (1..5).each do |i| %>
        <% if (i) <= @average_rating %>
          <i class="fas fa-star" style="color: #ffdd00;"></i>
        <% else %>
          <i class="fas fa-star" style="color: #001c40;"></i>
        <% end %>
      <% end %>
    </p>
    <div class="flex pt-3">
    <p class="mr-4 font-serif text-lg font-bold">Name</p><p class="text-lg font-serif"><%= @car.owner.name %></p>
    </div>

    <div class="flex pt-3">
    <p class="mr-4 font-serif text-lg font-bold">Award</p><p class="text-lg font-serif">
      <% if @user.completed_transactions.count > 20 %>
        <p>Diamond 💎</p>
      <% elsif @user.completed_transactions.count > 10 %>
        <p>Gold 🥇</p>
      <% elsif @user.completed_transactions.count > 5 %>
        <p>Silver 🥈</p>
      <% else %>
        <p>Bronze 🥉</p>
      <% end %>
    </p>
    </div>
    <div class="flex pt-3">
      <p class="font-serif">
        <p class="mr-4 font-serif text-lg font-bold">Bio </p> <%= @user.description %>
      </p>
    </div>
    <p class="pt-6 font-light text-neutral-500"><%= (@user.transactions.count) %> trips Joined <%= @user.created_at.strftime("%B %d, %Y") %></p>
    <p class="pt-2.5 font-light text-neutral-500">Last transaction on
    <% if @user.transactions.count > 0 %>
      <%= @user.transactions[0].created_at.strftime("%B %d, %Y") %>
    <% else %>
      N/A
    <% end %>
    </p>
  </div>
<%# not needed: submit request form%>
  <div class="absolute top-0 right-56 flow-root">
  </div>
</div>


<div class="w-full">
  <p class="ml-40 mt-36 text-4xl font-serif font-bold">Instructions</p>
  <p class="ml-40 mt-12 text-2xl font-serif font-semibold">Parking details</p>
  <p class="ml-40 mt-4 text-1xl w-2/5 font-serif font-light">Please leave the vehicle where you found it. In the unlikely event the spot is taken, please do not leave the vehicle in front of any houses other than 125.</p>
  <p class="ml-40 mt-12 text-2xl font-serif font-semibold">Guidelines</p>
  <p class="ml-40 mt-4 text-1xl w-2/5 font-serif font-light">Pets are welcome, smoking is not. Please return the car with at least 100 miles of range, the more the better. Always pay attention to the road even if the car is on Autopilot, it's still learning how to drive and might need you to retake control at any time (though most of the time it's very good).</p>
</div>
<div class="ml-40 mt-24 items-top flex relative">
  <div>
    <p class="font-bold text-3xl font-serif">Reviews & Ratings</p>
    <div class="mt-8 flex">
      <div>
        <p class="mt-2 font-serif">Overall</p>
        <p class="mt-2 font-serif">Cleanliness</p>
        <p class="mt-2 font-serif">Communication</p>
        <p class="mt-2 font-serif">Accuracy</p>
      </div>
      <div class="ml-16 font-light">

      <p class="mt-2">
        <% (1..5).each do |i| %>
          <% if (i) <= @average_rating %>
            <i class="fas fa-star" style="color: #ffdd00;"></i>
          <% else %>
            <i class="fas fa-star" style="color: #001c40;"></i>
          <% end %>
        <% end %>
      </p>


      <p class="mt-2">
                <% (1..5).each do |i| %>
          <% if (i) <= @average_cleanliness %>
            <i class="fas fa-star" style="color: #ffdd00;"></i>
          <% else %>
            <i class="fas fa-star" style="color: #001c40;"></i>
          <% end %>
        <% end %>

      </p>

      <p class="mt-2">
                <% (1..5).each do |i| %>
          <% if (i) <= @average_maintenence %>
            <i class="fas fa-star" style="color: #ffdd00;"></i>
          <% else %>
            <i class="fas fa-star" style="color: #001c40;"></i>
          <% end %>
        <% end %>

      </p>

      <p class="mt-2">
        <% (1..5).each do |i| %>
          <% if (i) <= @average_accuracy %>
            <i class="fas fa-star" style="color: #ffdd00;"></i>
          <% else %>
            <i class="fas fa-star" style="color: #001c40;"></i>
          <% end %>
        <% end %>

      </p>

      </div>
    </div>
  </div>
  <div class="mt-2 absolute top-0 right-28">
<%# review form here%>
    <%# <form class="w-full max-w-sm mt-8">
      <div class="relative" data-te-input-wrapper-init>
        <textarea
          class="mr-4 peer block border-white w-full rounded py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-25"
          id="review"
          rows="10"
          placeholder="Your message"></textarea>
        </div>
        <div class="md:w-1/3"></div>
        <div class="md:w-2/3">
          <button class="mr-4 mt-8 ml-6 shadow bg-blue-400 hover:bg-cyan-400 focus:shadow-outline focus:outline-none text-white font-serif font-medium py-2 px-4 rounded" type="button">
            Submit a review
          </button>
        </div>
      </div>
    </form> %>
  </div>
</div>
<%# user info display for review box%>
<% if @car.transactions.count > 0 %>
  <% @car.transactions.each do |t| %>
    <% if t.review %>
      <div class="flex ml-40 mt-24 items-top">
        <div>
          <%# user avatar%>
          <div class="w-32 h-32 rounded-full bg-cover bg-no-repeat bg-bottom bg-[url('./lamborghini.jpeg')]"></div>
          <p class="ml-5 mt-6 text-1xl font-serif font-bold"><%= t.user.name %></p>
        </div>
        <div class="ml-12 mt-1">
          <p>Rating
            <% (1..5).each do |i| %>
              <% if (i*2 - 1) <= t.review.rating %>
                <i class="fas fa-star" style="color: #ffdd00;"></i>
              <% else %>
                <i class="fas fa-star" style="color: #001c40;"></i>
              <% end %>
            <% end %>
          </p>
          <p class="pt-2 font-light text-neutral-500">Created <%= t.review.created_at.strftime("%B %d, %Y") %></p>
          <p class="pt-2 w-2/5 indent-8"><%= t.review.content %></p>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>





<%# some bottom space%>
<div class="h-40 w-full">
</div>
</main>
